<h2 class ="text-center">About Us</h2>
<p class ="text-center">Welcome to Dev Match, We are a community of developers, entreprenuers and investors who are intested in meeting one another and sharing ideas</p>